<!-- 双向绑定写法 -->
<!-- <input type="text" [value]="username" (input)="username = $event.target.value"> -->

<!-- ngModel 语法糖，底层一个属性绑定，一个事件绑定 -->
<!-- <input type="text" [(ngModel)]="username"> -->
<!-- <input type="text" [ngModel]="username" (ngModelChange)="username=$event"> -->

<!-- <span>
    hello, {{username}}
</span> -->

<!-- 指令 appGridItem 所在元素叫宿主 -->
<!-- <div appGridItem *ngFor="let item of channels">
    <img [src]="item.icon" alt="" appGridItemImage="2rem">
    <span appGridItemTitle="0.5rem">{{item.title}}</span>
</div> -->

<!-- 选择 span标签 显示 -->
<!-- <ng-content select="span"></ng-content> -->
<!-- 选择 class="special" 的标签 显示 -->
<!-- <ng-content select=".special"></ng-content> -->
<!-- 选择 appGridItem 指令修饰的宿主 显示 -->
<!-- <ng-content select="[appGridItem]"></ng-content> -->

<div 
    class="container" 
    [ngStyle]="{'grid-template-rows': templateRows, 'grid-template-columns': templateColumns}">
    <ng-content select="[appGridItem]"></ng-content>
</div>