<app-scrollable-tab [menus]="topMenus" [backgroundColor]="'red'" (tabSelected)="handleTabSelected($event)"></app-scrollable-tab>

<app-image-slider [sliders]="imageSliders"></app-image-slider>
<!-- <app-horizontal-grid [username]="username" (usernameChange)="username = $event"></app-horizontal-grid> -->
<app-horizontal-grid>
  <span appGridItem *ngFor="let item of channels">
    <img [src]="item.icon" alt="" appGridItemImage="2rem">
    <span appGridItemTitle="0.5rem">{{item.title}}</span>
  </span>

  <div appGridItem>
    <div style="background-color: red;" appGridItemImage="2rem"></div>
    <span appGridItemTitle="0.5rem">as</span>
  </div>
</app-horizontal-grid>
