<ng-container *ngIf="(selectedTabLink$ | async) as tab">
  <!-- ng-container 不会增加 DOM 节点 -->
  <ng-container *ngIf="tab === 'hot'">
    <app-image-slider [sliders]="(imageSliders$ | async)"></app-image-slider>

    <app-horizontal-grid>
      <span appGridItem *ngFor="let item of (channels$ | async)">
        <img [src]="item.icon" alt="" appGridItemImage="2rem">
        <span appGridItemTitle="0.5rem">{{item.title}}</span>
      </span>
    </app-horizontal-grid>
  </ng-container>

</ng-container>

<div class="ad-container" *ngIf="ad$ | async">
  <img class="ad-image" [src]="ad.imageURL" alt="">
</div>